.tag-button {
  padding: 6px 12px;
  background-color: #eef0f2;
  border: none;
  border-radius: 50px;
  font: inherit;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  outline: none;
  transition-property: all;
  transition-duration: 100ms;
  transition-timing-function: linear;
}

.tag-button:hover {
  background: #dfe3e6 none;
}

.tag-button:active {
  background: linear-gradient(
      255.35deg,
      #dc3131 0.83%,
      rgba(255, 79, 79, 0) 108.93%
    ),
    #ff5e56;
  color: #ffffff;
}

.tag-button--active {
  background: linear-gradient(
      255.35deg,
      #dc3131 0.83%,
      rgba(255, 79, 79, 0) 108.93%
    ),
    #ff5e56;
  color: #ffffff;
}
